<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <!--Etiqueta que agrega archivo CSS-->
    <link href = "css/styles.css" rel = "stylesheet" >
<!--Etiqueta que agrega tipografia-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
<!--Etiqueta que agrega iconos-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />
<!-- Etiqueta que hace responsive al sitio -->
    <meta name="viewport" content="width=device-width initial-scale=1">  
</head>

<body>
    <header class="main-header">
        <div class="main-header-top-bar">
           <div class="logoybarra">
                <div class="logo"> 
                    <img  src = "img/logo-mercado-liebre.svg" /> 
                </div>
               
                <div class="create-form" >
                    <form action="#" method="POST">
                        <input class="barra" type="search" placeholder="Buscar productos...">  
                        <button type= "submit" > <i class="fas fa-search"></i> </button>
                    </form>
                </div>
                 
            </div>
            
            <h2 class="cuotas"> 
                <i class="fas fa-hand-holding-usd"></i>
                 Comprá en cuotas y sin tarjeta de crédito. 
            </h2> 
        </div>
    
        <nav class= "main-navbar">
            <ul class= "left-navbar">
                <li> <a href = "#"> Ofertas </a> </li>
                <li> <a href = "#"> Tiendas Oficiales </a></li>
                <li> <a href = "#"> Vender </a></li>
                <li> <a href = "#"> Ayuda </a></li>
            </ul>
            <ul class="right-navbar">
                <li><a href = "/register" > Creá tu cuenta </a> <i class="far fa-address-card"></i></li>
                <li><a href = "/login" > Ingresá </a> <i class="fas fa-sign-in-alt"></i></li>
                <li><a href = "#" > Mis compras </a>  <i class="fas fa-shopping-basket"></i></li>
            </ul>
        </nav>

<!--Menu hamburguesa-->
        <div class="burger-menu">
            <i class="fas fa-bars"></i> 
        </div>
    </header>

<!--Banner-->  
    <p class="banner">  
        <img src = "img/img-home-banner.jpg"/> 
    </p>

    <main class= "main" >
        <section>
            <p class="titulares"><strong>Basado en tu última visita</strong></p>
            <div class="articulos-main">
                <article class="articulo"> 
                    <img src = "img/img-cafetera-moulinex.jpg"/> 
                    <div class="desc-articulo">
                        <p class="icono-envio"> <i class="fas fa-shipping-fast"></i> </p>
                        <div class="preydesc"> 
                            <p class="precios">$6.770</p>
                            <p class="descuentos">40% OFF</p>
                        </div>
                        <p class="descripcion"><strong>Cafetera Moulinex</strong></p> 
                    </div>
                </article>  
        
                <article class="articulo">
                    <img src = "img/img-macbook-pro-2019.jpg"/>
                    <div class="desc-articulo"> 
                        <p class="icono-envio"> <i class="fas fa-shipping-fast"></i> </p>
                        <div class="preydesc">
                            <p class="precios">$230.000</p>
                            <p class="descuentos">20% OFF</p>
                        </div>
                        <p class="descripcion"><strong>Macbook Pro 2019</strong></p> 
                    </div>
                </article> 

                <article class="articulo"> 
                    <img src = "img/img-samsung-galaxy-s10.jpg"/>
                    <div class="desc-articulo"> 
                        <p class="icono-envio"> <i class="fas fa-shipping-fast"></i> </p>
                        <div class="preydesc">
                            <p class="precios">$70.500</p>
                            <p class="descuentos">10% OFF</p>
                        </div>
                        <p class="descripcion"><strong>Samsung Galaxy S10</strong> </p> 
                    </div>
                </article> 

                <article class="articulo">
                    <img src = "img/img-tv-samsung-smart.jpg"/>
                    <div class="desc-articulo">
                        <p class="icono-envio"> <i class="fas fa-shipping-fast"></i> </p>
                        <div class="preydesc">
                            <p class="precios">$23.200</p>
                            <p class="descuentos">5% OFF</p>
                        </div>
                        <p class="descripcion"><strong>SmartTV Samsung 43"</strong> </p> 
                    </div>
                </article> 
            </div>
        </section>

        <section>
            <p class="titulares"><strong>Sección de ofertas</strong></p>
            <div class="articulos-main">
                <article class="articulo">
                    <div class="desc-articulo">
                        <img src = "img/img-cafetera-moulinex.jpg"/>
                        <p class="icono-envio"> <i class="fas fa-shipping-fast"></i> </p>
                        <div class="preydesc">
                            <p class="precios">$6.770</p>
                            <p class="descuentos">40% OFF</p>
                        </div>
                        <p class="descripcion"><strong>Cafetera Moulinex</strong></p>
                    </div>
                </article>

                <article class="articulo">
                    <div class="desc-articulo">
                        <img src = "img/img-macbook-pro-2019.jpg"/>
                        <p class="icono-envio"> <i class="fas fa-shipping-fast"></i> </p>
                        <div class="preydesc">
                            <p class="precios">$230.000</p>
                            <p class="descuentos">20% OFF</p>
                        </div>
                        <p class="descripcion"><strong>Macbook Pro 2019</strong></p>
                    </div>
                </article>

                <article class="articulo"> 
                    <div class="desc-articulo">
                        <img src = "img/img-samsung-galaxy-s10.jpg"/>
                        <p class="icono-envio"> <i class="fas fa-shipping-fast"></i> </p>
                        <div class="preydesc">
                            <p class="precios">$70.500</p>
                            <p class="descuentos">10% OFF</p>
                        </div>
                        <p class="descripcion"><strong>Samsung Galaxy S10</strong> </p>
                    </div>
                </article>

                <article class="articulo"> 
                    <div class="desc-articulo">
                        <img src = "img/img-tv-samsung-smart.jpg"/>
                        <p class="icono-envio"> <i class="fas fa-shipping-fast"></i> </p>
                        <div class="preydesc">
                            <p class="precios">$23.200</p>
                            <p class="descuentos">5% OFF</p>
                        </div>
                        <p class="descripcion"><strong>SmartTV Samsung 43"</strong> </p>
                    </div>
                </article>
            </div>
        </section>
    </main>

    <footer>
        <section class="footer">
<br/>
        <div>
            <p class="iconos"><i class="far fa-credit-card"></i>  </p>
            <p class="pie-de-pagina"><strong>Pagá con tarjeta o en efectivo</strong></p>
            <p class="pie-de-pagina">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>
        </div>
<br/>
        <div>
            <p class="iconos"><i class="fas fa-gift"></i>  </p>
            <p class="pie-de-pagina"><strong> Envío gratis desde $ 2.500 </strong></p>
             <p class="pie-de-pagina"> Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos. </p>
        </div>
<br/>
<br/>
        <div>
            <p class="iconos"><i class="fas fa-user-shield"></i> </p>
             <p class="pie-de-pagina"><strong> Seguridad, de principio a fin </strong></p>
            <p class="pie-de-pagina"> ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
        porque estás siempre protegid@. </p>
        </div>
    </section>
    <br/>
    <br/>
        <p> Copyright © 1999-2020 MercadoLiebre S.R.L.</p> 


        
    </footer>
</body>
</html>